@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: url('/fonts/Brandon_bld.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Brandon_bld.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Brandon_bld.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Brandon_bld.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Brandon_bld.svg#41e76bd6e414417d52adb646f262964a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Brandon Grotesque Medium';
  src: url('/fonts/Brandon_med.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Brandon_med.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Brandon_med.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Brandon_med.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Brandon_med.svg#42e0c7c233eb5259e2b1a7ec7e16d4ce') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Brandon Grotesque Regular';
  src: url('/fonts/Brandon_reg.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Brandon_reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Brandon_reg.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Brandon_reg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Brandon_reg.svg#50bf5a2005a5412419d6a4b30314e68e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

