* {
  margin: 0px;
  padding: 0px;
}

.pattern {
  background: url('/img/pattern_back.png') 0 0 repeat;
}

.obj {
  display: block;
  position: absolute;
  background: 0 0 no-repeat;
  z-index: 10;
}

section, header {
  position: relative;
}

button:focus {
  outline: none;
}

/**
 * MEDIAS
 */
@media screen and (min-width: 1086px) {
  .main-title {
    line-height: 10;
  }
  .typeahead {
    font-size: 28px;
  }
}

@media screen and (max-width: 1086px) {
  .main-title {
    line-height: 5;
  }
  .typeahead {
    font-size: 20px;
  }
}

/**
 * HEADER
 */
.main-header {
  width: 100%;
  font-family: "Brandon Grotesque Regular";
  text-transform: uppercase;
  text-align: center;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 5;
}

.main-title {
  margin: 80px 0;
  min-height: 360px;
  height: 100%;
}

.unicorn-img {
  display: inline-block;
  width: 90%;
  max-height: 456px;
  background: url('/img/unicorn.png') center no-repeat;
  padding-left: 15px;
  background-size: contain;
}

.main-title h1 {
  color: #272727;
  font-size: 43px;
  word-spacing: 550px;
  margin-left: 10px;
}

.baseline {
  color: #ffa1a1;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 60px;
  position: absolute;
  bottom: 50px;
  width: 100%
}
.base-click {
  color: #ffa1a1;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  text-decoration: none;
}
.obj1 {
  left: 80%;
  top: 450px;
  width: 153px;
  height: 173px;
  background: url('/img/obj1.png');
}

.obj2 {
  left: 8%;
  top: 95%;
  width: 114px;
  height: 109px;
  background: url('/img/obj2.png');
}
.min-header {
  display: block;
  position: fixed;
  top: -120px;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 100;
  background: url('/img/pattern_back.png') 0 0 repeat;
  font-family: "Brandon Grotesque Regular";
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.min-header h1{
  text-align: center;
  line-height: 120px;
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  font-size: 22px;
  letter-spacing: 3px;
}
.min-header h1 .unicorn-min {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0 30px; 
  position: relative;
  top: -5px;
  vertical-align: middle;
  background: url('/img/unicorn_menu_small.png') center no-repeat;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}
.min-header h1 .unicorn-min a {
  height: 100%;
  width: 100%;
  display: block;
}
.min-header .about {
  width: 25%;
  float: left;
  line-height: 120px;
  padding-left: 40px;
  font-size: 21px;
  color: #ffa1a1;
  font-family: "Brandon Grotesque Bold";
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  position: relative;
  z-index: 999;
}
.min-header .about #about {
  cursor: pointer;
}
.min-header .tooltip-about {
  position: absolute;
  top: 120px;
  left: 40px;
  display: block;
  width: 650px;
  background: white;
  border-radius: 5px;
  padding: 20px;
  color: #4c4c4c;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-box-shadow: 0 1px 10px 0 #b1b1b1;
  box-shadow: 0 1px 10px 0 #b1b1b1;
  opacity: 0;
}
.min-header .tooltip-about img {
  float: left;
  margin: 10px 40px 10px 0;
}
.min-header .tooltip-about .text-holder {
  padding-right: 40px;
  position: relative;
}
.min-header .tooltip-about h2 {
  font-family: "Brandon Grotesque Medium";
  font-size: 16px;
  margin-top: 20px;
}
.min-header .tooltip-about p {
  text-transform: none;
  font-family: "Brandon Grotesque Regular";
  margin-top: 20px;
  line-height: 18px;
}
.min-header .tooltip-about em {
  text-transform: none;
  color: #ffa1a1;
  font-style: normal;
  display: block;
  font-family: "Brandon Grotesque Regular";
  text-align: right;
  margin-top: 12px;
  margin-right: 20px;
}
.min-header .tooltip-about .info {
  text-transform: uppercase;
  font-size: 11px;
  color: #b1b1b1;
}
.min-header .tooltip-about .info a {
  color: #b1b1b1;
}
.min-header .social {
  width: 25%;
  display: inline-block;
  height: 120px;
  float: right;
  padding-right: 30px;
  text-align: right;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.min-header .social li {
  display: inline-block;
  margin-right: -4px;
  list-style: none;
  line-height: 120px;
  margin-left: 10px;
}
/**
 * QUERY
 */
.searchSection {
  background: url('/img/photo_back.png') 0 0 no-repeat;
  background-size: cover;
  height: 352px;
  width: 100%;
  margin-top: 120px;
  text-align: center;
}

.typeahead {
  width: 526px; /* 550 - 2*12 padding */
  height: 30px;
  margin-top: 20%;
  text-align: center;
  padding: 8px 12px;
  line-height: 50px;
  border: 2px solid #FFF;
  background: none transparent;
  outline: none;
  color: #FFF;
  font-family: "Brandon Grotesque Regular";
}

.tt-dropdown-menu {
  width: 550px;
  max-height: 500px;
  overflow-y: scroll;
  background: #f8d267;
  padding: 8px 0;
  border: 2px solid #FFF;
  color: #FFF;
  outline: none;
}

.tt-dropdown-menu.loading {
  min-height: 50px;
  background: url('/img/loading.gif') center no-repeat #f8d267 ;
}

.tt-suggestion{
  font-family: "Brandon Grotesque Regular";
  list-style: none;
  font-size: 16px;
}

.tt-suggestion.tt-cursor {
  background: #ffa1a1;
}

.grayscale {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0);
  cursor: default !important;
}
.grayscale:hover,
.grayscale:hover:before,
.grayscale:hover:after {
  cursor: default !important;
  background: #ffa1a1 !important;
}
.addToPlaylist {
  margin-top: 50px;
  width: 130px;
  height: 35px;
  background: #ffa1a1;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.addToPlaylist:hover,
.addToPlaylist:hover:before,
.addToPlaylist:hover:after {
  cursor: pointer;
  background: #febebe;
}


.addToPlaylist:before,
.addToPlaylist:after {
  content: '';
  background: #ffa1a1;
  width: 35px;
  height: 35px;
  border-radius: 40%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.addToPlaylist:before {
  left: -13px;
}

.addToPlaylist:after {
  right: -13px;
}

.obj3 {
  right: 5%;
  top: 50%;
  width: 156px;
  height: 141px;
  background: url('/img/obj3.png');
}

/**
 * PLAYLIST
 */
.playlistSection {
  text-align: center;
  font-family: "Brandon Grotesque Regular"
}

.playlistSection h1 {
  margin-top: 80px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
}

.songsCtn {
  width: 50%;
  margin: auto;
  list-style: none;
}
.actually-playing {
  color: #ffa1a1;
}
.songItem {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 10px 15px;
  margin: 30px auto;
  width: inherit;
}

.songItem.notPlaying {
  color: #272727;
  border: none;
}

.songItem.isPlaying {
  color: #ffa1a1;
  border: 2px solid #ffa1a1;
  position: relative;
  z-index: 1
}
.songItem.isPlaying:hover .info{
  opacity: 1;
  left: 102%;
}
.songItem.isPlaying .info {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 0%;
  width: 52%;
  font-size: 10px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
   transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.songItem .songName {
  background: #FFF;
  font-size: 20px;
}

.trans-all {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.obj4 {
  right: 10%;
  top: 30%;
  width: 154px;
  height: 150px;
  background: url('/img/obj4.png');
}

.obj5 {
  left: 5%;
  top: 50%;
  width: 239px;
  height: 271px;
  background: url('/img/obj5.png');
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}