* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Brandon Grotesque Regular";
}

.pattern {
  background: url('/img/pattern_back.png') 0 0 repeat;
}

.obj {
  display: block;
  position: absolute;
  background: 0 0 no-repeat;
  z-index: 10;
}

section, header {
  position: relative;
}

button:focus {
  outline: none;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}

/**
 * HEADER
 */
.main-header {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.main-title {
  margin: 10vh 0;
  min-height: 50vh;
  height: 100%;
}

.unicorn-img {
  display: inline-block;
  width: 90%;
  max-height: 50vh;
  background: url('/img/unicorn.png') center no-repeat;
  background-size: contain;
}

.main-title h1 {
  color: #272727;
  font-size: 4vh;
  word-spacing: 55vh;
  line-height: 50vh;
}
.main-title h1::before {
  content: "a";
  opacity: 0;
}
.header-about {
  text-transform: none;
  font-size: 2vh;
}
.baseline {
  color: #ffa1a1;
  font-size: 2.5vh;
  margin-top: 3vh;
  width: 100%;
}
.arrow {
  display: block;
  background: url('/img/arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  bottom: 10vh;
  width: 100%;
  height: 26px;
  cursor: pointer;
}
.base-link {
  color: #f8d268;
  font-family: "Brandon Grotesque Medium";
  font-size: 2vh;
  position: absolute;
  bottom: 5vh;
  width: 100%;
  text-align: center; 
}
.base-link button {
  background: #f8d268;
  color: white;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 2.2vh;
  font-family: "Brandon Grotesque Medium";
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0.7vh auto;
  height: 4vh;
  cursor: pointer;
  -webkit-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
   transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.base-link button:hover {
  background: #f1bb4d;
}
.base-link button span {
  position: relative;
  top: 1px;
}
.obj1 {
  left: 80%;
  top: 450px;
  width: 153px;
  height: 173px;
  background: url('/img/obj1.png');
}

.obj2 {
  left: 8%;
  top: 95%;
  width: 114px;
  height: 109px;
  background: url('/img/obj2.png');
}
.fixed-bar {
  position: fixed;
  top: -150px;
  left: 0;
  width: 100%;
  z-index: 666;
}
.social-bar {
  height: 30px;
  background: #ececec;
  text-align: center;
  position: relative;
}
.social-bar p {
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  line-height: 30px;
  margin-right: 30px;
  color: #7a7a7a;
}
.social-bar iframe {
  position: relative;
  top: 5px;
}
.social-bar .fb-like {
  margin-right: 30px;
  position: relative;
  top: -1px;
}
.social-bar .fb-like iframe {
  top: 0;
}
.social-bar .close-social {
  display: block;
  height: 14px;
  width: 14px;
  position: absolute;
  right: 20px;
  top: 8px;
  cursor: pointer;
  z-index: 999;
  background: url('/img/close_normal.png');
  -webkit-transition: background 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: background 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: background 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: background 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
   transition: background 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.social-bar .close-social:hover {
  background: url('/img/close_hover.png');
}
.min-header {
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  background: url('/img/pattern_back.png') 0 0 repeat;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.min-header hr {
  display: block;
  width: 100%;
  height: 1px;
  background: white;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0px;
}
.min-header h1{
  text-align: center;
  line-height: 120px;
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  font-size: 22px;
  letter-spacing: 3px;
}
.min-header h1 .unicorn-min {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0 30px; 
  position: relative;
  top: -5px;
  vertical-align: middle;
  background: url('/img/unicorn_menu_small.png') center no-repeat;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}
.min-header h1 .unicorn-min a {
  height: 100%;
  width: 100%;
  display: block;
}
.min-header .about {
  width: 25%;
  float: left;
  line-height: 120px;
  padding-left: 3%;
  font-size: 21px;
  color: #ffa1a1;
  font-family: "Brandon Grotesque Medium";
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  position: relative;
  z-index: 999;
}
.min-header .about #about {
  cursor: pointer;
}
.min-header .tooltip-about {
  position: absolute;
  top: 120px;
  left: 40px;
  display: block;
  width: 650px;
  background: white;
  border-radius: 5px;
  padding: 20px;
  color: #4c4c4c;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-box-shadow: 0 1px 10px 0 #b1b1b1;
  box-shadow: 0 1px 10px 0 #b1b1b1;
  opacity: 0;
  display: none;
}
.min-header .tooltip-about img {
  float: left;
  margin: 10px 40px 10px 0;
}
.min-header .tooltip-about .text-holder {
  padding-right: 40px;
  position: relative;
}
.min-header .tooltip-about h2 {
  font-family: "Brandon Grotesque Medium";
  font-size: 16px;
  margin-top: 20px;
}
.min-header .tooltip-about p {
  text-transform: none;
  margin-top: 20px;
  line-height: 18px;
}
.min-header .tooltip-about a {
  color: #ffa1a1;
}
.min-header .tooltip-about em {
  text-transform: none;
  color: #ffa1a1;
  font-style: normal;
  display: block;
  text-align: right;
  margin-top: 12px;
  margin-right: 20px;
}
.min-header .tooltip-about .info {
  text-transform: uppercase;
  font-size: 11px;
  color: #b1b1b1;
}
.min-header .tooltip-about .info a {
  color: #b1b1b1;
}
.min-header .currentSong {
  width: 25%;
  float: right;
  height: 120px;
  color: #ffa1a1;
  font-size: 14px;
  padding-right: 3%;
  line-height: 120px;
  display: inline-block;
  font-family: "Brandon Grotesque Medium";
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.min-header .currentSong .playing {
  color: #ffa1a1;
  display: inline-block;
  width: 70%;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  -webkit-transition: background 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: background 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: background 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: background 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
   transition: background 600ms cubic-bezier(0.39, 0.575, 0.565, 1);

}
.min-header .currentSong .playing:hover {
  text-decoration: underline;
}
.min-header .currentSong .duration {
  display: inline-block;
  height: 120px;
  vertical-align: top;  
}
.speaker {
  display: inline-block;
  height: 120px;
  width: 20px;
  background: url('/img/sound.png');
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
  margin-right: 6px;
}
/**
 * FOOTER
 */
footer {
  display: block;
  width: 100%;
  height: 110px;
  background: url('/img/logo_soix.png');
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
  padding: 20px 0;
  margin-top: 100px;
  position: relative;
}
footer a {
  display: block;
  width: 100%;
  height: 100%;
}
/**
 * QUERY
 */
.aboutMobile {
  display: none;
}
.searchSection {
  background: url('/img/photo_back.png') 0 0 no-repeat;
  background-size: cover;
  height: 352px;
  width: 100%;
  text-align: center;
  position: relative;
}
.nice-message {
  font-size: 16px;
  color: #e49a2d;
  position: absolute;
  width: 100%;
  bottom: 75px;
  opacity: 0;
  display: none;
}
.nice-message a {
  color: #ffa1a1;
  text-decoration: underline;
}
.typeahead {
  width: 526px; /* 550 - 2*12 padding */
  height: 30px;
  margin-top: 20%;
  text-align: center;
  padding: 8px 12px;
  border: 2px solid #FFF;
  font-size: 26px;
  background: rgba(255, 161, 161, 0.25);
  outline: none;
  color: #FFF;
  font-family: "Brandon Grotesque Regular";
  -webkit-transition: border-color 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: border-color 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: border-color 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: border-color 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
   transition: border-color 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: content-box;    /* Firefox, other Gecko */
  box-sizing: content-box;         /* Opera/IE 8+ */
}
.typeahead:hover, .typeahead:focus {
  border-color: #ffafaf;
}

.tt-dropdown-menu {
  width: 550px;
  max-height: 500px;
  overflow-y: scroll;
  background: #f8d267;
  padding: 8px 0;
  border: 2px solid #FFF;
  color: #FFF;
  outline: none;
}

.tt-dropdown-menu.loading {
  min-height: 50px;
  background: url('/img/loading.gif') center no-repeat #f8d267 ;
}

.tt-suggestion{
  list-style: none;
  font-size: 16px;
}

.tt-suggestion.tt-cursor {
  background: #ffa1a1;
}

.grayscale {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0);
  cursor: default !important;
}
.grayscale:hover,
.grayscale:hover:before,
.grayscale:hover:after {
  cursor: default !important;
  background: #ffa1a1 !important;
}
.addToPlaylist {
  margin-top: 50px;
  width: 130px;
  height: 35px;
  background: #ffa1a1;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.addToPlaylist:hover,
.addToPlaylist:hover:before,
.addToPlaylist:hover:after {
  cursor: pointer;
  background: #febebe;
}


.addToPlaylist:before,
.addToPlaylist:after {
  content: '';
  background: #ffa1a1;
  width: 35px;
  height: 35px;
  border-radius: 40%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.addToPlaylist:before {
  left: -13px;
}

.addToPlaylist:after {
  right: -13px;
}

.obj3 {
  right: 5%;
  top: 50%;
  width: 156px;
  height: 141px;
  background: url('/img/obj3.png');
}

/**
 * PLAYLIST
 */
.playlistSection {
  margin-top: 3vh;
}

.playlistSection h1 {
  margin-top: 80px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  width: 50%;
  margin: auto;
  padding: 0 6%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.playlistSection h2 {
  width: 50%;
  margin: auto;
  padding: 0 6%;
  color: #cfcfcf;
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.playlistSection h2 strong {
  font-size: 30px;
}
.current-mobile {
  display: none;
}
.playlistSection h2 .total-duration {
  position: absolute;
  top: -20px;
  left: 81%;
  text-transform: none;
  font-size: 26px;
}
.songsCtn {
  width: 50%;
  margin: auto;
  list-style: none;
  padding: 0 6%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */  
}
.actually-playing {
  color: #ffa1a1;
}
.songItem {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 10px 15px;
  margin: 30px 0;
  width: 100%;
  position: relative;
}

.songItem.notPlaying {
  color: #272727;
  border: none;
}

.songItem.isPlaying {
  color: #ffa1a1;
  position: relative;
  z-index: 1
}
.songItem.isPlaying:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 20px;
  left: -30px;
  background: url('/img/sound.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.songItem.isPlaying:hover .info{
  opacity: 1;
  left: 102%;
}
.songItem.isPlaying .info {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 0%;
  width: 52%;
  font-size: 10px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
   transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.songItem .songName {
  background: #FFF;
  font-size: 20px;
  width: 80%;
  border: 2px solid rgba(255,255,255,0);
}
.songItem.isPlaying .songName {
  border: 2px solid #ffa1a1;
  padding: 5px 10px;
}
.songItem .songName a {
  text-decoration: none;
  color: #ffa1a1;
}
.songItem .duration {
  display: block;
  position: absolute;
  left: 100%;
  top: -2px;
  padding: 0 3px;
  min-width: 35px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  background: #eeeeee;
  border-radius: 3px;
  color: #272727;
  text-align: center;
  font-family: "Brandon Grotesque Medium";
}
.songItem.isPlaying .duration {
  background: #ffa1a1;
}
.trans-all {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.obj4 {
  right: 10%;
  top: 30%;
  width: 154px;
  height: 150px;
  background: url('/img/obj4.png');
}

.obj5 {
  left: 5%;
  top: 50%;
  width: 239px;
  height: 271px;
  background: url('/img/obj5.png');
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

@media screen and (max-width: 1024px) {
  .main-title {
    margin: 0;
    margin-top: 5%;
    min-height: 0;
    height: 100%;
  }
  .main-title h1 {
    word-spacing: normal;
    display: block;
    width: 100%;
    line-height: 36px;
    font-size: 36px;
    word-spacing: 7px; 
    position: absolute;
    bottom: -50px;
  }
  .main-title h1::before {
    content: "";
  }
  .unicorn-img {
    margin: 0;
    margin-top: 5%;
    max-height: 300px;
    position: relative;
  }
  .baseline {
    margin-top: 20px;
    font-size: 20px;
  }
  .arrow {
    bottom: 20px;
  }
  .header-about {
    margin-top: 10%;
    font-size: 14px;
    padding: 0 10px;
  }
  .social-bar .fb-like {
    display: inline !important;
    width: auto !important;
  }
  .social-bar .fb-like span {
    vertical-align: middle !important;
  }
  .min-header h1 {
    font-size: 18px;
  }
  .min-header h1 .unicorn-min {
    height: 80px;
    width: 80px;
    margin: 0 5px;
  }
  .min-header .about {
    font-size: 16px;
  }
  .min-header .tooltip-about {
    left: 2%;
    width: 96%;
  }
  .min-header .currentSong {
    font-size: 12px;
  }
  .playlistSection h1, .playlistSection h2 {
    width: 80%;
  }
  .songsCtn {
    width: 80%;
  }
  .obj2 {
    top: 8%;
    left: 6%;
  }
  .obj4 {
    right: 0%;
    top: 80%;
  }
  .obj5 {
    top: 55%;
    left: -20px;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
  }
  .typeahead {
    width: 90vw;
  }
  .songItem.isPlaying:hover .info {
    opacity: 0;
    left: 0;
  }
}

@media screen and (max-width: 568px) {
  .unicorn-img {
    max-height: 250px;
  }
  .main-title h1{
    line-height: 26px;
    font-size: 20px;
    position: relative;
    top: 260px;
  }
  .header-about {
    display: none;
  }
  .baseline {
    margin-top: 20%;
    font-size: 14px;
  }
  .base-link {
    font-size: 14px;
    bottom: 10px;
  }
  .base-link button {
    font-size: 16px;
    margin: 3% auto;
    height: 26px;
  }
  .baseline {
    font-size: 14px;
  }
  .base-link {
    font-size: 12px;
  }
  .base-link button {
    font-size: 14px;
  }
  .fixed-bar {
    top: -30px;
  }
  .social-bar {
    overflow: hidden;
  }
  .social-bar p {
    display: none;
  }
  .social-bar .fb-like {
    width: 50% !important;
    display: inline !important;
  }
  .arrow {
    display: none;
  }
  .social-bar .twitter-follow-button{
    display: none;
  }
  .social-bar #twitter-widget-0 {
    width: 79px !important;
    margin-right: 30px;
  }
  .obj {
    display: none;
  }
  .min-header {
    display: none;
  }
  .aboutMobile {
    display: block;
    background: url('/img/photo_back.png') 0 0 no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px 10px;
    color: #272727;
    font-family: "Brandon Grotesque Regular";
  }
  .aboutMobile h2 {
    color: white;
  }
  .aboutMobile p {
    margin-top: 10px;
  }
  .aboutMobile a {
    color: #ffa1a1;
  }
  .searchSection {
    display: none;
  }
  .current-mobile {
    display: block;
    margin-bottom: 30px;
  }
  .playlistSection h1 {
    font-size: 26px;
    margin-top: 40px;
    margin: 0;
    width: 100%;
  }
  .playlistSection h2 {
    margin: 0;
    font-size: 20px;
    width: 100%;
  }
  .playlistSection h2 strong {
    font-size: 24px;
  }
  .playlistSection h2 .total-duration {
    top: -36px;
    left: auto;
    right: 10px;
    font-size: 24px;
  }
  .songsCtn {
    width: 100%;
    margin: 0;
  }
  .songItem {
    margin: 10px auto;
  }
  .songItem .songName{
    font-size: 14px;
    margin: 0;
    width: 70vw;
  }
  .songItem .duration {
    left: 75vw;
  }
  .songItem.isPlaying .songName {
    padding: 0;
    border: none;
  }
  .songItem.isPlaying:before {
    display: none;
  } 
  .tt-dropdown-menu {
    width: 90%;
  }
}