* {
  margin: 0px;
  padding: 0px;
}

.pattern {
  background: url('/img/pattern_back.png') 0 0 repeat;
}

.obj {
  display: block;
  position: absolute;
  background: 0 0 no-repeat;
  z-index: 10;
}

section, header {
  position: relative;
}

button:focus {
  outline: none;
}

/**
 * HEADER
 */
.main-header {
  width: 100%;
  font-family: "Brandon Grotesque Regular";
  text-transform: uppercase;
  text-align: center;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 5;
}

.main-title {
  margin: 10vh 0;
  min-height: 50vh;
  height: 100%;
}

.unicorn-img {
  display: inline-block;
  width: 90%;
  max-height: 50vh;
  background: url('/img/unicorn.png') center no-repeat;
  /*padding-left: 15px;*/
  background-size: contain;
}

.main-title h1 {
  color: #272727;
  font-size: 4vh;
  word-spacing: 55vh;
  line-height: 50vh;
}
.main-title h1::before {
  content: "a";
  opacity: 0;
}

.baseline {
  color: #ffa1a1;
  font-size: 2.5vh;
  font-weight: 500;
  position: absolute;
  top: 65vh;
  width: 100%
}
.arrow {
  display: block;
  background: url('/img/arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 75vh;
  width: 100%;
  height: 26px;
  cursor: pointer;
}
.base-link {
  color: #f8d268;
  font-family: "Brandon Grotesque Medium";
  font-size: 2vh;
  position: absolute;
  bottom: 5vh;
  width: 100%;
  text-align: center; 
}
.base-link button {
  background: #f8d268;
  color: white;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 2.2vh;
  font-family: "Brandon Grotesque Medium";
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0.7vh auto;
  height: 4vh;
  cursor: pointer;
  -webkit-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
   transition: background 400ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.base-link button:hover {
  background: #f1bb4d;
}
.base-link button span {
  position: relative;
  top: 1px;
}
.obj1 {
  left: 80%;
  top: 450px;
  width: 153px;
  height: 173px;
  background: url('/img/obj1.png');
}

.obj2 {
  left: 8%;
  top: 95%;
  width: 114px;
  height: 109px;
  background: url('/img/obj2.png');
}
.fixed-bar {
  position: fixed;
  top: -150px;
  left: 0;
  width: 100%;
  z-index: 666;
  font-family: "Brandon Grotesque Regular";
}
.social-bar {
  height: 30px;
  background: #ececec;
}
.social-bar p {
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
}
.min-header {
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  background: url('/img/pattern_back.png') 0 0 repeat;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.min-header h1{
  text-align: center;
  line-height: 120px;
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  font-size: 22px;
  letter-spacing: 3px;
}
.min-header h1 .unicorn-min {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0 30px; 
  position: relative;
  top: -5px;
  vertical-align: middle;
  background: url('/img/unicorn_menu_small.png') center no-repeat;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}
.min-header h1 .unicorn-min a {
  height: 100%;
  width: 100%;
  display: block;
}
.min-header .about {
  width: 25%;
  float: left;
  line-height: 120px;
  padding-left: 3%;
  font-size: 21px;
  color: #ffa1a1;
  font-family: "Brandon Grotesque Medium";
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  position: relative;
  z-index: 999;
}
.min-header .about #about {
  cursor: pointer;
}
.min-header .tooltip-about {
  position: absolute;
  top: 120px;
  left: 40px;
  display: block;
  width: 650px;
  background: white;
  border-radius: 5px;
  padding: 20px;
  color: #4c4c4c;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-box-shadow: 0 1px 10px 0 #b1b1b1;
  box-shadow: 0 1px 10px 0 #b1b1b1;
  opacity: 0;
  display: none;
}
.min-header .tooltip-about img {
  float: left;
  margin: 10px 40px 10px 0;
}
.min-header .tooltip-about .text-holder {
  padding-right: 40px;
  position: relative;
}
.min-header .tooltip-about h2 {
  font-family: "Brandon Grotesque Medium";
  font-size: 16px;
  margin-top: 20px;
}
.min-header .tooltip-about p {
  text-transform: none;
  font-family: "Brandon Grotesque Regular";
  margin-top: 20px;
  line-height: 18px;
}
.min-header .tooltip-about em {
  text-transform: none;
  color: #ffa1a1;
  font-style: normal;
  display: block;
  font-family: "Brandon Grotesque Regular";
  text-align: right;
  margin-top: 12px;
  margin-right: 20px;
}
.min-header .tooltip-about .info {
  text-transform: uppercase;
  font-size: 11px;
  color: #b1b1b1;
}
.min-header .tooltip-about .info a {
  color: #b1b1b1;
}
.min-header .currentSong {
  width: 25%;
  float: right;
  height: 120px;
  color: #ffa1a1;
  font-size: 14px;
  padding-right: 3%;
  line-height: 120px;
  display: inline-block;
  font-family: "Brandon Grotesque Medium";
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.min-header .currentSong .playing {
  color: #ffa1a1;
  display: inline-block;
  width: 200px;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.min-header .currentSong .duration {
  display: inline-block;
  height: 120px;
  vertical-align: top;  
}
.speaker {
  display: inline-block;
  height: 120px;
  width: 20px;
  background: url('/img/sound.png');
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
  margin-right: 6px;
}
/**
 * QUERY
 */
.searchSection {
  background: url('/img/photo_back.png') 0 0 no-repeat;
  background-size: cover;
  height: 352px;
  width: 100%;
  text-align: center;
  position: relative;
}

.typeahead {
  width: 526px; /* 550 - 2*12 padding */
  height: 30px;
  margin-top: 20%;
  text-align: center;
  padding: 8px 12px;
  line-height: 50px;
  border: 2px solid #FFF;
  font-size: 26px;
  background: none transparent;
  outline: none;
  color: #FFF;
  font-family: "Brandon Grotesque Regular";
}

.tt-dropdown-menu {
  width: 550px;
  max-height: 500px;
  overflow-y: scroll;
  background: #f8d267;
  padding: 8px 0;
  border: 2px solid #FFF;
  color: #FFF;
  outline: none;
}

.tt-dropdown-menu.loading {
  min-height: 50px;
  background: url('/img/loading.gif') center no-repeat #f8d267 ;
}

.tt-suggestion{
  font-family: "Brandon Grotesque Regular";
  list-style: none;
  font-size: 16px;
}

.tt-suggestion.tt-cursor {
  background: #ffa1a1;
}

.grayscale {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0);
  cursor: default !important;
}
.grayscale:hover,
.grayscale:hover:before,
.grayscale:hover:after {
  cursor: default !important;
  background: #ffa1a1 !important;
}
.addToPlaylist {
  margin-top: 50px;
  width: 130px;
  height: 35px;
  background: #ffa1a1;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

.addToPlaylist:hover,
.addToPlaylist:hover:before,
.addToPlaylist:hover:after {
  cursor: pointer;
  background: #febebe;
}


.addToPlaylist:before,
.addToPlaylist:after {
  content: '';
  background: #ffa1a1;
  width: 35px;
  height: 35px;
  border-radius: 40%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.addToPlaylist:before {
  left: -13px;
}

.addToPlaylist:after {
  right: -13px;
}

.obj3 {
  right: 5%;
  top: 50%;
  width: 156px;
  height: 141px;
  background: url('/img/obj3.png');
}

/**
 * PLAYLIST
 */
.playlistSection {
  font-family: "Brandon Grotesque Regular";
  margin-top: 3vh;
}

.playlistSection h1 {
  margin-top: 80px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  width: 50%;
  margin: auto;
  padding: 0 6%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.playlistSection h2 {
  width: 50%;
  margin: auto;
  padding: 0 6%;
  color: #cfcfcf;
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.playlistSection h2 strong {
  font-size: 30px;
}
.playlistSection h2 .total-duration {
  position: absolute;
  top: -20px;
  left: 81%;
  text-transform: none;
  font-size: 26px;
}
.songsCtn {
  width: 50%;
  margin: auto;
  list-style: none;
  padding: 0 6%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */  
}
.actually-playing {
  color: #ffa1a1;
}
.songItem {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 10px 15px;
  margin: 30px 0;
  width: 100%;
  position: relative;
}

.songItem.notPlaying {
  color: #272727;
  border: none;
}

.songItem.isPlaying {
  color: #ffa1a1;
  position: relative;
  z-index: 1
}
.songItem.isPlaying:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 20px;
  left: -30px;
  background: url('/img/sound.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.songItem.isPlaying:hover .info{
  opacity: 1;
  left: 102%;
}
.songItem.isPlaying .info {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 0%;
  width: 52%;
  font-size: 10px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
   transition: left 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.songItem .songName {
  background: #FFF;
  font-size: 20px;
  width: 80%;
  border: 2px solid rgba(255,255,255,0);
}
.songItem.isPlaying .songName {
  border: 2px solid #ffa1a1;
  padding: 5px 10px;
}
.songItem .songName a {
  text-decoration: none;
  color: #ffa1a1;
}
.songItem .duration {
  display: block;
  position: absolute;
  right: 0;
  top: -2px;
  width: 35px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  background: #eeeeee;
  border-radius: 3px;
  color: #272727;
  text-align: center;
  font-family: "Brandon Grotesque Medium";
}
.songItem.isPlaying .duration {
  background: #ffa1a1;
}
.trans-all {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.obj4 {
  right: 10%;
  top: 30%;
  width: 154px;
  height: 150px;
  background: url('/img/obj4.png');
}

.obj5 {
  left: 5%;
  top: 50%;
  width: 239px;
  height: 271px;
  background: url('/img/obj5.png');
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFF;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

@media screen and (max-width: 1024px) {
  .main-title h1 {
    word-spacing: 2vh;
    line-height: 5vh;
    position: absolute;
    bottom: -6.5vh;
    display: block;
    width: 100%;
  }
  .main-title h1::before {
    content: "";
  }
  .unicorn-img {
    margin: 5vh 0;
    position: relative;
  }
  .baseline {
    font-size: 2.3vh;
    top: 70vh;
  }
  .arrow {
    top: 78vh;
  }
  .min-header h1 {
    font-size: 18px;
  }
  .min-header h1 .unicorn-min {
    height: 80px;
    width: 80px;
    margin: 0 5px;
  }
  .min-header .about {
    font-size: 16px;
  }
  .min-header .tooltip-about {
    left: 2%;
    width: 96%;
  }
  .songsCtn {
    width: 80%;
  }
  .obj2 {
    top: 8%;
    left: 6%;
  }
  .obj4 {
    right: 0%;
    top: 80%;
  }
  .obj5 {
    top: 55%;
    left: -20px;
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
    transform: rotate(-30deg);
  }
  .typeahead {
    width: 90vw;
  }
  .songItem.isPlaying:hover .info {
    opacity: 0;
    left: 0;
  }
}
@media screen and (max-width: 568px) {
  .baseline {
    font-size: 14px;
  }
  .base-link {
    font-size: 12px;
  }
  .base-link button {
    font-size: 14px;
  }
  .min-header h1 {
    position: relative;
    font-size: 16px;
    line-height: 205px;
  }
  .min-header h1 .unicorn-min {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    margin-top: 10px;
  }
  .min-header .about {
    line-height: 100px;
  }
  .min-header .tooltip-about {
    padding: 10px;
  }
  .min-header .tooltip-about img {
    height: 20vh;
    display: block;
    float: none;
    margin: auto;
  }
  .obj1 {
    top: 10%;
  }
  .obj2 {
    left: -60px;
    top: 2;
  }
  .obj3 {
    right: -30px;
    top: 55%;
  }
  .obj4, .obj5 {
    opacity: 0;
  }
  .playlistSection h1 {
    font-size: 26px;
    margin-top: 40px;
  }
  .songsCtn {
    width: 95%;
  }
  .songItem {
    margin: 10px auto;
  }
  .songItem .songName{
    font-size: 16px;
  }
}