@media screen and (max-width: 568px) {
  .main-title {
    margin: 0;
    margin-top: 5%;
    min-height: 0;
    height: 100%;
  }
  .unicorn-img {
    max-height: 250px;
  }
  .main-title h1{
    line-height: 26px;
    font-size: 20px;
    position: relative;
    top: 260px;
  }
  .baseline {
    top: 70%;
    font-size: 14px;
  }
  .base-link {
    font-size: 14px;
    bottom: 10px;
  }
  .base-link button {
    font-size: 16px;
    margin: 3% auto;
    height: 26px;
  }
  .baseline {
    font-size: 14px;
  }
  .base-link {
    font-size: 12px;
  }
  .base-link button {
    font-size: 14px;
  }
  .social-bar p {
    display: none;
  }
  .social-bar .fb-like {
    width: 50% !important;
    display: inline !important;
  }
  .arrow {
    display: none;
  }
  .social-bar #twitter-widget-1 {
    display: none;
  }
  .obj {
    display: none;
  }
  .min-header {
    display: none;
  }
  .aboutMobile {
    display: block;
    background: url('/img/photo_back.png') 0 0 no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px 10px;
    color: #272727;
    font-family: "Brandon Grotesque Regular";
  }
  .aboutMobile h2 {
    color: white;
  }
  .aboutMobile p {
    margin-top: 10px;
  }
  .aboutMobile a {
    color: #ffa1a1;
  }
  .searchSection {
    display: none;
  }
  .playlistSection h1 {
    font-size: 26px;
    margin-top: 40px;
    margin: 0;
    width: 100%;
  }
  .playlistSection h2 {
    margin: 0;
    font-size: 20px;
    width: 100%;
  }
  .playlistSection h2 strong {
    font-size: 24px;
  }
  .playlistSection h2 .total-duration {
    top: -36px;
    left: auto;
    right: 10px;
    font-size: 24px;
  }
  .songsCtn {
    width: 100%;
    margin: 0;
  }
  .songItem {
    margin: 10px auto;
  }
  .songItem .songName{
    font-size: 14px;
    margin: 0;
    width: 70vw;
  }
  .songItem .duration {
    left: 75vw;
  }
  .songItem.isPlaying .songName {
    padding: 0;
    border: none;
  }
  .songItem.isPlaying:before {
    left: auto;
    right: 0;
  } 
  .tt-dropdown-menu {
    width: 90%;
  }
}